!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portfolio
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ id: "#{controller_name}-#{action_name}", class: 'fixed-sidebar pace-done' }
    #wrapper{ data: flash_alert }
      = render 'layouts/sidebar'
      #page-wrapper.gray-bg
        = render 'layouts/navigation'
        .padding-bottom
          = yield
        = render 'layouts/footer'
